<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>网址管理</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-group"></i> <span>资产管理</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="#"><i class="fa fa-user"></i> Another link</a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-group"></i> <span>发布系统</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="#"><i class="fa fa-user"></i> Another link</a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-group"></i> <span>任务编排</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="#"><i class="fa fa-user"></i> Another link</a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-gears"></i> <span>配置管理</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
         <li>
             <a href="{% url 'config' %}"><i class="fa fa-file"></i>全局配置</a>
         </li>
    </ul>
</li>
<li class="treeview">
    <a href="{% url 'user_list' %}">
        <i class="fa fa-group"></i> <span>用户管理</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'user_list' %}"><i class="fa fa-user"></i>用户</a></li>
        <li><a href="{% url 'role_list' %}"><i class="fa fa-ravelry"></i>角色</a></li>
        <li><a href="{% url 'permission_list' %}"><i class="fa fa-paperclip"></i>权限</a></li>
    </ul>
</li>